.navigation {
  @include screen-size("tablet") {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 144rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include screen-size("tablet") {
      flex-direction: row;
      align-items: center;
    }
  }

  &__presentationMobile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;

    @include screen-size('tablet') {
      display: none;
    }
  }

  &__presentation {
    display: none;

    @include screen-size('desktop') {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include screen-size("tablet") {
      flex-direction: row;
      align-items: center;
    }
  }
}