.blog {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include screen-size("desktop") {
    gap: 8rem;
  }

  &__articleList {
    @extend .blog;
    max-width: 144rem;
    margin: 0 auto;
    padding-inline: 2rem;
  }

  &__cta {
    padding-inline: 2rem;
  }
}
