.blog {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include screen-size("desktop") {
    gap: 8rem;
  }

  &__articleList {
    @extend .blog;
    max-width: 144rem;
    margin: 0 auto;
    padding-inline: 2rem;
  }

  &__articles {
    @include screen-size("tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }

    @include screen-size("desktop") {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 4rem;
      flex-wrap: wrap;
    }
  }

  &__cta {
    padding-inline: 2rem;
  }
}
