.articles {
  margin-bottom: 4rem;
  &__wrapper {
    @include screen-size("tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }

    @include screen-size("desktop") {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 4rem;
      flex-wrap: wrap;
    }
  }
}
