.filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__buttons {
    max-width: 33.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__buttonClicked {
    background-color: $rose-taupe;
  }
}
