.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  &__frame {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-gray;
    border-radius: 50%;
    width: 7.2rem;
    height: 7.2rem;
  }
}
