.comment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem 1.5rem 4rem;
  border-radius: 0.6rem;
  border: solid 0.1rem $rose-taupe;
  max-height: 40rem;


  @include screen-size("desktop") {
    padding: 8rem 11.5rem;
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include screen-size("desktop") {
      flex-direction: row;
    }
  }

  &__image {
    border-radius: 50%;
    object-fit: cover;
  }

  &__text {
    color: $dark-gray;
    font-size: 1.8rem;
    line-height: 4.4rem;
    letter-spacing: 0.05rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $wenge $light-gray;

    @include screen-size("desktop") {
      font-size: 2rem;
    }
  }
}
