.contactForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 90rem;
  padding-inline: 2rem;
  margin-bottom: 4rem;

  @include screen-size("desktop") {
    gap: 4rem;
    margin-bottom: 8rem;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__label {
    color: $rose-taupe;
    font-size: 1.8rem;
    line-height: 4.4rem;
    letter-spacing: 0.05rem;

    @include screen-size("desktop") {
      font-size: 2rem;
    }
  }
  &__container {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    border: 0.1rem solid $dark-gray;
    border-radius: 0.6rem;
  }

  &__input,
  &__select,
  &__textarea {
    width: 100%;
    resize: vertical;
    font-weight: 400;
    font-size: 1.4rem;
    outline: none;

    &::placeholder {
      color: $dark-gray;
    }
  }

  &__textarea {
    min-height: 10rem;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2rem 6rem;
    line-height: 1.8rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      background-color: $wenge;
      color: $white;
      border: none;
    }

    @include screen-size("desktop") {
      font-size: 1.8rem;
    }
    background-color: $dark-gray;
    color: $white;
    border: none;
  }
}
