.articleList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  max-width: 144rem;
  margin: 0 auto;
  padding-inline: 2rem;

  @include screen-size("desktop") {
    gap: 8rem;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}
