.registerBanner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;
  
    @include screen-size("desktop") {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      margin: 0 auto;
      max-width: 144rem;
    }
  
    &__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  
    &__fieldset {
      display: flex;
      align-items: stretch;
      gap: 1rem;
      padding: 1rem;
      border: 0.1rem solid $dark-gray;
      border-radius: 0.6rem;
    }

    &__error {
      font-size: 1.6rem;
      color: $wenge;
  
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-color: $light-blue;
      text-underline-offset: 1rem;
    }
  
    &__label {
      color: $rose-taupe;
      font-size: 1.8rem;
      line-height: 4.4rem;
      letter-spacing: 0.05rem;
      font-weight: 600;
  
      @include screen-size("desktop") {
        font-size: 2rem;
      }
    }
  
    &__input {
      width: 100%;
      outline: none;
      font-size: 1.4rem;
  
      &::placeholder {
        color: $dark-gray;
      }
    }
  
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  
    &__content {
      background-color: $light-gray;
      padding: 4rem 3.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
  
      @include screen-size("desktop") {
        grid-area: 1 / 1 / 2 / 2;
        padding: 26.3rem 8rem;
      }
    }
  
    &__cta {
      font-size: 4rem;
      color: $wenge;
    }
  }
  