.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2rem 6rem;
  line-height: 1.8rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    background-color: $wenge;
    color: $white;
    border: none;
  }

  @include screen-size("desktop") {
    font-size: 1.8rem;
  }

  @include buttonLevels();
  @include buttonSizes();
}

.link {
  @extend .button;
  color: $dark-gray;
  text-decoration: none;

  &--hover {
    &:hover {
      text-decoration: underline 0.4rem;

      background-color: transparent;
      color: $rose-taupe;
      border: none;
    }
  }

  @include weight;
  @include buttonLevels();
  @include buttonSizes();
}
