.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem 4rem;
  
  &__list {
    display: flex;
    justify-content: center;
    gap: 2rem;

    @include screen-size("desktop") {
      gap: 4rem;
    }
  }
}
